@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Hammersmith One", sans-serif;
    width: 414px;
    height: 896px;
    background-image: url(images/Frame\ 1space-iphone11.png);
    color: #fff;
}

#enter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
}

.home a {
    text-decoration: none;
    color: #fff;

}

h1 {
    font-size: 1.5rem;
}