@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Hammersmith One", sans-serif;
    width: 414px;
    height: 896px;
    background-image: url(images/Frame\ 1space-iphone11.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
}

header {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
    text-shadow: 2px 2px rgb(0, 0, 0);
    padding-top: 2%;
    padding-bottom: 2%;
}

header a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.enter {
    display: flex;
    justify-content: center;
    width: auto;
    background: rgba(48, 54, 186, 0.6);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(1px);
    border-radius: 10px;
}

.enter a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px rgb(0, 0, 0);
}



img {
    max-width: 414px;
    border-radius: 2rem;
    padding: 4%;
}

h1 {
    font-size: 1.6rem;
    text-shadow: 2px 2px rgb(0, 0, 0);
    padding-left: 4%;
    padding-top: 1%;
    overflow: hidden;
}

p {
    font-size: 0.9rem;
    text-shadow: 2px 2px rgb(0, 0, 0);
    padding: 4%;
    margin-bottom: 10%;
    line-height: 1.4rem;
    overflow: hidden;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    width: 100%;
}

.welcomeBox {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    padding: 5%;
    text-shadow: 3px 3px rgb(0, 0, 0);
    background: rgba(168, 168, 168, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: blur(0px);
    backdrop-filter: blur(1px);
    border-radius: 10px;
    width: auto;
}


.search {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#inputField {
    vertical-align: middle;
    font-size: 1.2rem;
    display: inline-block;
    background-color: rgb(18, 41, 83);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 3px solid rgb(209, 209, 209);
    padding: 20px;
    margin: 30px 10px;
    width: 250px;
    height: 50px;
    transition: all 0.5s;
    text-align: center;
}

#inputField:hover {
    background-color: #000;
}

#searchButton {
    display: inline-block;
    background-color: rgb(18, 41, 83);
    border-radius: 5px;
    border: 3px solid rgb(209, 209, 209);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 75px;
    height: 50px;
    font-size: 1rem;
    transition: all 0.5s;
    cursor: pointer;
}

#filterCheckbox {
    display: inline-block;
    background-color: rgb(18, 41, 83);
    border-radius: 5px;
    border: 3px solid rgb(209, 209, 209);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 20px;
    height: 20px;
    font-size: 1rem;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 10px;
}

.noResults {
    display: flex;
    justify-content: center;

}

footer {
    background-color: rgb(18, 41, 83);
    display: flex;
    justify-content: center;
    width: 414px;
    position: fixed;
    bottom: 0;
    text-shadow: 2px 2px rgb(0, 0, 0);
    padding-top: 2%;
    padding-bottom: 2%;
}